:root {
  font-family: 'Trebuchet MS';
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #8499b1;
  --primary-color: #171619;
  --accent-color: #7b6d8d;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  margin: 0;
  padding: 0;
}
