:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #242424;
  --primary-color: #27293d;
  --accent-color: rgb(83, 78, 108);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  margin: 0;
  padding: 0;
}
